@import "./base/reset.css";
@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Inter:400');

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

:root {
  --text: hsl(198, 32%, 92%);
  --background: hsl(195, 40%, 2%);
  --primary: hsl(200, 42%, 72%);
  --secondary: hsl(201, 48%, 31%);
  --accent: hsl(201, 55%, 60%);
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(1.5px);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter";
  font-weight: 400;
}

.particles-canvas {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 0 !important;
}
