@import "../styles/index.css";

main.home {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  overflow: hidden;
}

h1.main-text {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  position: relative;
  letter-spacing: var(--ls);
  overflow: hidden;
  margin: 0;
  word-spacing: 10px;
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

#particles canvas {
  position: absolute;
}

section.top {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.tagline {
  text-align: center;
  font-size: 1.1rem;
  margin: 4px 0px 16px 0px;
}

.btn-container {
  margin-top: 24px;
  display: flex;
  gap: 20px;
  padding: 8px;
}

button.btn {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 40px;
  text-align: center;
  margin-top: 140px;
  min-height: 140px;
}

.card {
  border: 2px solid transparent;
  min-width: 220px;
  height: 180px;
  position: relative;
  background-color: hsl(201, 48%, 21%);
  padding: 1em;
  z-index: 5;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.28s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 12px var(--primary), 0 0 12px var(--primary);
  transform: scale(1.1);
}

img.card-icon {
  height: 50px;
  margin-bottom: 12px;
}

.middle > h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.middle {
  margin-top: 150px;
}

.top-certs-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 8px;
}

.top-certs > img {
  width: 500px;
  height: 350px;
  object-fit: contain;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 6px;
}

button.github {
  background-color: var(--primary);
  color: var(--background);
}

button.github > span > a {
  color: var(--background);
  padding: 8px;
}

button.cert > span > a {
  padding: 8px;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--secondary);
  border: none;
  color: var(--text);
  text-align: center;
  font-size: 17px;
  padding: 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

p.text.big {
  font-size: 2rem;
  font-weight: bold;
}

section.last {
  margin-top: 130px;
}

.company-cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 120px;
}

.company {
  border: 2px solid transparent;
  background-color: hsl(201, 48%, 10%);
  border-radius: 5px;
  padding: 12px;
  min-width: 180px;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 8px;
}

p.company-text {
  font-size: 1.4rem;
  font-weight: 1000;
}

.company-icon {
  height: 34px;
}

section.last {
  margin: 122px 0px 100px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.264);
}

section.last h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 52px;
}

footer {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.socials-icon {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 150px;
}

img.fb-icon {
  height: 45px;
}

.socials {
  text-align: center;
  margin-bottom: 24px;
}

.socials > p {
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  section.top {
    margin-top: 100px;
  }

  h1.main-text {
    font-size: 1.8em;
  }
  p.tagline {
    font-size: 1em;
  }

  .cards {
    gap: 12px;
    text-align: center;
    margin-top: 70px;
    min-height: 140px;
  }

  .card {
    min-width: 200px;
    height: 140px;
  }

  .card:hover {
    box-shadow:none;
    transform: none;
  }
  
  img.card-icon {
    height: 40px;
  }

  p.text.big {
    font-size: 1.3em;
  }

  p.text.small {
    font-size: 1em;
  }

  section.middle {
    margin-top: 74px;
  }

  section.middle > h2 {
    font-size: 1.7em;
  }

  .top-certs-wrapper {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    padding: 50px;
    flex-direction: column;
  }

  section.last {
    margin-top: 40px;
  }

  section.last h3 {
    font-size: 1.7em;
  }

  .company-cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .company {
    min-width: 300px;
  }
}

@media (max-width: 960px) {
}
