@import "../styles/index.css";

main.home {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  overflow: hidden;
}

h1.main-text {
  font-size: 2.4rem;
  text-align: center;
  position: relative;
}

#particles canvas {
  position: absolute;
}

section.top {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.tagline {
  text-align: center;
  font-size: 1.1rem;
  margin: 4px 0px 16px 0px;
}

.btn-container {
  margin-top: 24px;
  display: flex;
  gap: 20px;
  padding: 8px;
}

button.btn {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 40px;
  text-align: center;
  margin-top: 200px;
}

.card {
  border: 2px solid transparent;
  padding: 12px;
  width: 200px;
  height: 90px;
  position: relative;
  background-color: hsl(201, 48%, 21%);

  padding: 1em;
  z-index: 5;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 300px;
  transition: 200ms ease-in-out;
}

.middle > h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.middle {
  margin: 200px auto;
}

.top-certs-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 8px;
}

.top-certs > img {
  width: 500px;
  height: 350px;
  object-fit: contain;
  border: 2px solid white;
}

button.github {
  background-color: var(--primary);
  color: var(--background);
}

button.github > span > a {
  color: var(--background);
  padding: 8px;
}

button.cert > span > a {
  padding: 8px;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--secondary);
  border: none;
  color: var(--text);
  text-align: center;
  font-size: 17px;
  padding: 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 15px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
