nav {
    padding: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background);
    z-index: 100;
}

ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 12px;
    list-style-type: none;
    width: 700px;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}