@import "src/styles/index.css";
nav {
  padding-top: 22px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 12px;
  list-style-type: none;
  width: 700px;
  margin: auto;
}

a {
  color: var(--text);
  text-decoration: none;
  font-size: 16px;
}
li > a {
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  transition: color 0.5s ease;
}

li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff, transparent);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

li > a:hover {
  color: var(--text);
}

li > a:hover::after {
  opacity: 1;
  animation: shimmer111 2s linear infinite;
}

@keyframes shimmer111 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
